<!-- toggle, add, remove divs to set layout -->

<!-- two icon no text layout -->
<div class="contact-col">
  <div class="centre-col">
      <div class="row">
        <div class="col">
          <i class="fa fa-envelope-o fa-2x mr-3 fa-icon" 
             onclick="sendEmail()"></i>
        </div>
        <!-- <div class="col footer-text">
           <p>zinezilla.bristol@gmail.com</p> 
        </div> -->
      </div>
      <div class="row">
        <div class="col instagram-icon">
          <i class="fab fa-instagram fa-2x fa-fw fa-icon"
             onclick="location.href='https://www.instagram.com/zinezilla_bristol/'">
          </i>
        </div>
        <!-- <div class="col footer-text">
          <p>instagram.com/zinezilla_bristol</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
