<!-- google map -->

<div id="google-map"></div>
<script>
  function loadmap() {
    const trinityLatLng = { lat: 51.45813063197342, lng: -2.5754388752959567 }
    const map = new google.maps.Map(document.getElementById("google-map"), {
			  center: trinityLatLng,
				zoom: 16,
        gestureHandling: "greedy",
				mapTypeId: google.maps.MapTypeId.ROADMAP,
		});
    new google.maps.Marker({
      position: trinityLatLng,
      map,
      title: "Trinity Community Arts Centre",
    });
	}
</script>
<script src="//maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyCs01U1rBkCxbrfdhTFNjfY0cGdSBTLFRQ&loading=async&callback=loadmap" defer></script>


