<!-- top main navigation bar-->
<div class="main-nav">
    <nav>
    <img src={{ "/img/logo.png" | absolute_url }} class="logo"></img>
        <ul class="link-nav">
          {% for link in site.data.navigation.navlinks %}
          <li>
            <a id="link" href={{ link.link | relative_url }}>{{ link.title }}</a>
          </li>
          {% endfor %}
          {% for url in site.data.navigation.buttons %}
            <a class="btn button" id="button" target="_blank" href={{ url.url | relative_url }}>{{ url.title }}</a>
          {% endfor %}
        </ul>
      </nav>
</div>