.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    flex-wrap: wrap;
    height: auto;
    overflow: hidden;

    .pix-wrapper {
        overflow: hidden;
        position: relative;
        margin: 20px;
        width: 200px;

        img {
            transition: transform 0.3s;
            width: 90%;
        }

        img:hover {
        transform: scale(1.2);
        }
    }
}
