.home-img {
    background: url('/img/zineoverlay.png') no-repeat center center / cover;
    height: 85vh;
    position: relative;
    z-index: -1;
}

.zinetitle-img {
  align-self: center;
  margin-bottom: 25px;
  width: 600px;
  z-index: 1;
}
  
.info {
  color: $porcelain;
  font-stretch: extra-expanded;
  font-weight: 850;
  z-index: 1;
}

.animinspo-gif {
  align-self: center;
  width: 400px;
  margin-bottom: 2%;
  z-index: 1;
}

.thanktxt {
  color: cyan;
  font: oblique;
}


///////////////////////////////////////


@include mq-xs {
  .zinetitle-img {
    width: 340px;
  }
  .animinspo-gif {
    width: 250px;
  }
  .info {
    font-size: 1.3rem;
    font-stretch: condensed;
  }
}

@include mq-sm {
  .zinetitle-img {
    width: 380px;
  }
  .animinspo-gif {
    width: 300px;
  }
  .info {
    font-size: 1.5rem;
    font-stretch: condensed;
  }
}
  

@include mq-md {
    .zinezilla-title {
      padding-top: 25vh;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1rem;
    }
  }
  
@include mq-lg {
    .zinezilla-title {
      padding-top: 25vh;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  
    h3 {
      font-size: 2rem;
    }
}