.zinezilla-image {
   // background: url('/img/zinezilla1.jpg') no-repeat center center / cover;
    height: 100vh;
    //opacity: .4;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
}
  
.centre-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
}

.main-title {
      color: $white;
      font-size: 6.0rem;
      font-weight: 5000;
}
  
.sub-title {
      color: $white;
      font-size: 2.5rem;
      font-weight: 1200;
}
  
// mobile
@include mq-xs {
    .centre-title {
      padding-top: 40vh;
    }
  
    h1 {
      font-size: 1.7rem;
    }
  
    h3 {
      font-size: .9rem;
    }
}
  
// mobile landscape
@include mq-land {
    .zinezilla-title {
      padding-top: 25vh;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1rem;
    }
  }
  
@include mq-lg {
    .zinezilla-title {
      padding-top: 25vh;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  
    h3 {
      font-size: 2rem;
    }
}