.home-img {
    background: url('/img/zineoverlay.png') no-repeat center center / cover;
    height: 85vh;
    position: relative;
    z-index: -1;
}

.zinetitle-img {
  align-self: center;
  margin-bottom: 50px;;
  width: 400px;
  z-index: 1;
}
  
.info {
  color: $edge;
  font-stretch:expanded;
  font-weight: 1000;
  z-index: 1;
}

.animinspo-gif {
  align-self: center;
  width: 400px;
  margin-bottom: 4%;
  z-index: 1;
}


///////////////////////////////////////


@include mq-xs {
  .main-title {
    font-size: 2.8rem;
    margin-top: 0;
  }

  .sub-title {
    font-size: 1.8rem;
  }
  .animinspo-gif {
    width: 250px;
  }
  
  .info {
    font-size: 1.3rem;
    font-stretch: condensed;
  }
}

@include mq-sm {
  .main-title {
    font-size: 3rem;
    margin-top: 0;
  }

  .sub-title {
    font-size: 2rem;
  }
  .animinspo-gif {
    width: 300px;
  }
  
  .info {
    font-size: 1.5rem;
    font-stretch: condensed;
  }
}
  

@include mq-md {
    .zinezilla-title {
      padding-top: 25vh;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1rem;
    }
  }
  
@include mq-lg {
    .zinezilla-title {
      padding-top: 25vh;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  
    h3 {
      font-size: 2rem;
    }
}