.event-col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align:center;
    width: 70%;
}

.event-head {
    color: $porcelain;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 1px 1px $edge,
                 0 0 1em $edge,
                 0 0 0.2em $edge;
}

.action-gif {
    background: transparent;
    border: none;
    height: 50px;
    width: 200px;
}

.action-button {
    background-color: transparent;
    border: none;
    border-radius: 10%;
}

.applynow-img {
    height: 100%;
    width: 250px;
}

.animinspo-logo-col {
    margin: auto;
    width: 100%;
}

.animinspo-col {
    margin-bottom: 2%;
    margin-top: 4%;
}

.animinspologo-img {
    width: 300px;
}

.animinspo-apply-img {
    transition: transform .7s ease-in-out;
    width: 130px;
}

.animinspo-apply-img:hover {
    transform: rotate(360deg);
    scale: 70%;
}




/////////////////////////////////////////////

@media mq-xs {
    .event-col {
        margin-top: 10px;
    }
    .event-head {
        font-size: 1rem;
    }
}
