.event-col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align:center;
    width: 70%;
}

.event-head {
    color: $white;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 1px 2px $edge,
                 0 0 1em $edge,
                 0 0 0.2em $edge;
}

.get-apply {
    color: $jungle;
    font-weight: 600;
}

.get-apply:hover {
    font-style: italic;
}

.applynow-img {
    height: 250px;
    width: 250px;
}

.animinspo-col {
    margin-bottom: 2%;
    margin-top: 4%;
}

.animinspo {
    color: $jungle;
    font-size: 1.8rem;
    text-decoration: none;
}

.animinspo:hover {
    font-style: italic;
}

.animinspologo-img {
    height: 250px;
    width: 250px;
}

.animinpo-row {
    justify-items: center;
    margin-bottom: 20p;
}

.animispo-globe-col {
    direction: flex;
  }
  
.animinspo-globe-icon {
    float: right;
    margin-bottom: 4%;
    width: 20%;
}
  
.animinspo-globe-icon:hover {
    transform: scale(1.2);
}
  
.animinspo-globe-icon-text{
    text-align: left;
    font-size: 1.8rem;
}


/////////////////////////////////////////////

@media mq-xs {
    .event-col {
        margin-top: 10px;
    }
    .event-head {
        font-size: 1rem;
    }
}
