.event-col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align:center;
    width: 70%;
}

.event-head {
    color: $porcelain;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 1px 1px $edge,
                 0 0 1em $edge,
                 0 0 0.2em $edge;
}

.action-gif {
    background: transparent;
    border: none;
    height: 50px;
    width: 200px;
}

.action-button {
    background-color: transparent;
    border: none;
    border-radius: 10%;
    margin-top: 30px;;
}

//////////////////// v1
// .applynow-img {
//     height: 100%;
//        width: 250px;
// }

// .applynow-button:hover {
//     display: none;
///////////////////// }

.zineland-img {
    // height: 100%;
    width: 200px;
}

.tba {
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
    margin-top: 30px;
}

.animinspo-logo-col {
    margin: auto;
    width: 100%;
}

.animinspo-col {
    margin-bottom: 2%;
    margin-top: 4%;
}

.animinspologo-img {
    width: 300px;
}

///////////////////////// v1
// .animinspo-apply-img {
//     transition: transform .7s ease-in-out;
//     width: 130px;
// }

// .animinspo-apply-img:hover {
//     transform: rotate(360deg);
//     scale: 70%;
///////////////////////// }

.workshops {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.workshop-img {
    width: 450px;
}

.pip-col {
    margin: auto;
}

.pip-presenter:hover {
    font-style: italic;
    font-weight: 1000;
}

.pip-logo-col {
    margin: auto;
}

.pip-apply-btn {
    background: transparent;
    border: none;
    margin-bottom: 20px;
}

.pip-apply-img {
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

.pip-apply-btn:hover {
    transform: scale(1.2);
}


/////////////////////////////////////////////

@include mq-xs {
    .event-col {
        margin-top: 30px;
    }
    .event-head {
        font-size: 1.8rem;
    }
    .workshop-img {
        width: 300px;
    }
}
