///////// Global Properties //////////

// imports 
// icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

// global properties
// variables
$font-stack: 'Trebuchet MS', sans-serif; 
$nav-height: 140px;

// derived colours
$white: #fff;
$black: #000;
$porcelain: #eff2f3;
$bg-black1: #18181e;
$bg-black2: #353520;
$bg-black3: #2f3139;
$bg-black4: #150021;
$storm-dust: #626262;
$deep-blu: #1c263e;
$salt-lake: #6f665d;
$atmosphere: #2f3643;
$jungle: #1b2723;
$edge: #0c1221;
$horizon: #6d7f97;
$monk-hair: #151411;
$banana: #876831;
$snow: #b5b5b9;
$fuzzy-green: #8e823f;
$adobe: #4a423e;
$red-cap: #5a232a;
$red-bull: #612719;
$purple-cap: #89513f;
$german-yellow: #886223;
$line-end: #f0f0f0;
$line-mid: #8c8b8b;
$violet: #3104b4;
$green-yellow: #5fb404;
$safron-yellow: #f4c430;
$gold-yellow: #eeba07;
$corn-yellow: #e9b909;
$cheese-yellow: #e4c33d;
$sun-yellow: #fed33C;
$zinezilla-yellow: #eeba07; // gold-ellow

// title font sizes
@mixin head {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

@mixin subhead {
  font-size: 1.3rem;
  font-weight: 700;
  margin: auto;
  margin-bottom: 45px;
  max-width: 90%;
  text-align: center;
}

// global settings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $zinezilla-yellow;
  color: $black;
  font-family: $font-stack;
  font-size: 17px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-fullwidth {
  margin: 0;
  padding: 0;
}

.primary-row {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.centre-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
}

.action-row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.action-col {
  margin-top: 2%;
}

.globe-row {
  align-items: center;
  columns: 2;
  display: flex;
  justify-content: center;
}

.globe-icon {float: right;
  width: 35px;
  float: right;
  width: 35px;
}

.globe-icon:hover {
  transform: scale(1.2);
}

.globe-icon-text {
  font-size: 1.8rem;
  font-weight: 550;
  text-align: left;
  margin-left: 8px;
}

.fa-text {
  font-weight: 550;;
}

//////////////////////////////////////////////

// media queries
@mixin mq-xs {
  @media (max-width: 479px) {
    @content;
  }
}

@mixin mq-land {
  @media (min-width: 560px) and (max-height: 450px) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: 480px) and  (max-width: 719px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 720px) and (max-width: 999px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1000px) and (min-width: 1199px) {
    @content;
  }
}

@mixin mq-xl {
  @media (min-width: 1200px) {
    @content;
  }
}
