//--- main navigation ---//
.navbar {
  align-items: center;
  background-color: $bg-black2;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.logo {
  margin-left: 10px;
  width: 86px;
}

.nav-menu {
  overflow: hidden;
}

.nav-item {
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
}

.nav-link {
  color: $zinezilla-yellow;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-link:hover {
  color: $porcelain;
}
.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}

.nav-link:hover::after {
  border-bottom: $porcelain 1px solid;
  width: 100%;
}

.button {
  background-color: $zinezilla-yellow;
  border: 1px;
  border-radius: 10px;
  color: $bg-black2;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  padding: 1px 6px;
  transition-duration: 0.4s;
  width: 110px;
  cursor: pointer;
}

.button::after {
  content: '';
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}


