//--- top navigation ---//

.main-nav {
  background: $bg-black2;
  flex: 2;
  height: 100px;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  float: left;
  height: 80px;
  width: 80px;
}

.link-nav {
  float: right;
  display: flex;
  list-style: none;
  margin-right: 20px;;
  margin-top: 1%;
  opacity: 1;
}

#link {
  color: $zinezilla-yellow;
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 30px;
  opacity: 1.0;
  position: static;
  text-decoration: none;
}

#link::after {
  content: '';
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}

#link:hover::after {
  border-bottom: $zinezilla-yellow 1px solid;
  margin-left: 26px;
  width: 78%;
}

.button {
  background-color: $zinezilla-yellow;
  border: 1px;
  border-radius: 10px;
  color: $bg-black2;
  font-style: italic;
  margin-left: 20px;
  padding: 1px 6px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button::after {
  content: '';
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}

.button:hover {
  border-radius: 11px;
}

@include mq-xs {
  .main-nav {
    background: none;
  }
  .link-nav {
    flex-direction: column;
  }
  #link {
    color: $bg-black2;
    font-size: .9rem;
    font-weight: 900;
  }
  #button {
    background-color: $bg-black2;
    color: $zinezilla-yellow;
  }
}

@include mq-sm {
  .main-nav {
    background: none;
  }
  .link-nav {
    flex-direction: column;
  }
  #link {
    color: $bg-black2;
    font-size: .9rem;
    font-weight: 900;
  }
  #button {
    background-color: $bg-black2;
    color: $zinezilla-yellow;
  }
}

