//--- top navigation ---//

.main-nav {
  background: $bg-black3;
  flex: 2;
  height: 80px;
  opacity: .8;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .link-nav {
    float: right;
    display: flex;
    list-style: none;
    margin-right: 5%;
  }

  .link {
    color: $white;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 20px;
    text-decoration: none;
  }

  .link.active {
    border-bottom: $white 1px solid;
  }
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}

.link:hover::after {
  border-bottom: $white 1px solid;
  margin-left: 18px;
  width: 78%;
}


.logo {
  float: left;
  height: 50px;
  width: 50px;
}


@include mq-xs {
  .main-nav {
    flex-direction: column;
  }
  .link {
    font-size: .5rem;
  }
}

@include mq-land {
  .main-nav {
    flex-direction: row;
   }

  .link {
    font-size: .7rem;
  }
}


@include mq-sm {
  .main-nav {
    flex-direction: column;
  }

  .link {
    font-size: .7rem;
  }
}

@include mq-md {
  .main-nav {
    flex-direction: row;
  }
}

@include mq-lg {
  .main-nav {
    flex-direction: row;
  }

  .link {
    font-size: 1.2rem;
  }
}


