//--- top navigation ---//
.navbar {
  align-items: center;
  background: $bg-black2;
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  float: left;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-top: 3%;
}

.nav-link {
  color: $zinezilla-yellow;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}

.nav-link:hover::after {
  border-bottom: $white 1px solid;
  width: 100%;
}

.button {
  background-color: $zinezilla-yellow;
  border: 1px;
  border-radius: 10px;
  color: $bg-black2;
  font-style: italic;
  font-weight: 700;
  padding: 1px 6px;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 100px;
  cursor: pointer;
}

.button::after {
  content: '';
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}

///////////////////////////////////////////////////

@include mq-xs {
  .navbar {
    background: none;
    left: -100;
  }
  .nav-link {
    color: $white;
    font-size: 1rem;
    font-weight: 900;
  }
  .button {
    background-color: $white;
  }
}

@include mq-sm {
  .navbar {
    background: none;
    left: -100;
  }
  .nav-link {
    color: $white;
    font-size: 1.2rem;
    font-weight: 900;
  }
  .button {
    background-color: $white;
  }
}

