/* Row to devide */
.row {
    display: flex;
    height: 70hv;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.left-map {
    width: 50%;
}
  
.right-info {
    width: 50%;
}

.google-map {
    height: 400px;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 150px;
    width: 600px;
}

.trinity-link { 
    color: $jungle;
    font-size: 2rem;
    text-decoration: none;
    text-align: left;
}

.trinity-link:hover {
    font-style: oblique;
}

.venue {
    text-align: left;
}

.map-info {
    flex-direction: column;
    font-size: .6rem;
    justify-content: center;
    margin-top: 23%;
}

@include mq-xs {
    .iframe-map {
        height: 200px;
        margin-top: 200px;
        width: 200px;
    }
    .map-info {
      margin-top: 2px;
    }
    .trinity-link {
        font-size: large;
        text-align: center;
    }
    .venue {
        font-size: large;
        text-align: center;
    }
}

@include mq-sm {
    .iframe-map {
        height: 300px;
        margin-top: 200px;
        width: 400px;
    }
    .map-info {
        margin-top: 2px;
    }
    .trinity-link {
        font-size: large;
        text-align: center;
    }
    .venue {
        font-size: large;
        text-align: center;
    }
}
  
@include mq-md {
    .iframe-map {
        height: 400px;
        margin-top: 150px;
        width: 400px;
    }
    .map-info {
        margin-top: 2px;
    }
    .trinity-link {
        text-align: center;
    }
    .venue {
        text-align: center;
    }
}


  