// top row //
.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

// clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
}


//// left col
.map {
    align-items: center;
    display: flex;
    justify-content: center;
}

.google-map {
    height: 80%;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 150px;
    width: 600px;
}

//// right col
.trinity-info {
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 10%;
}

.address {
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
}

.zonezilla {
    justify-items: center;
    width: 500px;
    margin: 50px 20px;
}

.trinity-web {
    font-size: 2rem;
}

.trinity-globe-col {
    direction: flex;
}
   

@include mq-xs {
    .google-map {
        margin-top: 200px;
        width: 300px;
    }
    .map-info {
      margin-top: 2px;
    }
    .trinity-link {
        font-size: large;
        text-align: center;
    }
    .venue {
        font-size: large;
        text-align: center;
    }
}

@include mq-sm {
    .google-map {
        height: 300px;
        margin-top: 200px;
        width: 400px;
    }
    .map-info {
        margin-top: 2px;
    }
    .trinity-link {
        font-size: large;
        text-align: center;
    }
    .venue {
        font-size: large;
        text-align: center;
    }
}
  
@include mq-md {
    .google-map {
        margin-top: 150px;
        width: 500px;
    }
    .map-info {
        margin-top: 2px;
    }
    .trinity-link {
        text-align: center;
    }
    .venue {
        text-align: center;
    }
}


  