// top row //
.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

// clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
}

//// centre info
.trinity-info {
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    //margin-bottom: 5%;
}

.address {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
}

.zines {
    justify-items: center;
    margin: 50px 20px;
    width: 50%;
}

.trinity-web {
    font-size: 2rem;
}

.trinity-globe-col {
    direction: flex;
}

.transport {
    margin: auto;
    width: 80%;
}

//// left col
.floor {
    align-items: center;
    display: flex;
    margin-bottom: 70px;
    margin-top: 5%;
    justify-content: center;
}

.floorplan {
    width: 70%;
}

//// right col
.map {
    align-items: center;
    display: flex;
    margin-left: 65px;
    justify-content: center;
}

#google-map {
    height: 60%;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    width: 100%;
}
//////////////////////////////////////

@include mq-xs {
    #google-map {
        margin-top: 100px;
        height: 300px;
        width: 300px;
    }
    .map-info {
      margin-top: 2px;
    }
    .trinity-link {
        font-size: large;
        text-align: center;
    }
    .venue {
        font-size: large;
        text-align: center;
    }
}

@include mq-sm {
    #google-map {
        height: 300px;
        margin-top: 200px;
        width: 400px;
    }
    .map-info {
        margin-top: 2px;
    }
    .trinity-link {
        font-size: large;
        text-align: center;
    }
    .venue {
        font-size: large;
        text-align: center;
    }
}
  
@include mq-md {
    #google-map {
        margin-top: 150px;
        height: 500px;
        width: 500px;
    }
    .map-info {
        margin-top: 2px;
    }
    .trinity-link {
        text-align: center;
    }
    .venue {
        text-align: center;
    }
}


  